@import "tailwindcss";

/* start hidden */
.fade-section {
  opacity: 0;
  transform: translateY(30px);
  filter: blur(8px);
  transition: all 0.7s ease-out;
}

/* when visible */
.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}


body {
  background-color: #000;
}

.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
